@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Open+Sans&display=swap");

#home {
  background-image: url("../assets/images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80vh;
}
.header-text {
  max-width: 350px;
  margin-top: 30px;
  padding-top: 50px;
  margin-left: 16%;
}

.header-text h1 {
  color: #007bff;
  text-align: left;
  font-size: 35px;
  width: 500px;
  padding: 0;
  margin: 0 !important;

  font-family: "Tahoma";
}
#home p {
  margin-top: 20px;
  color: rgb(87, 85, 85);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}
@media only screen and (max-width: 700px) {
  .header-text h1 {
    font-size: 20px !important;
    width: 300px !important;
  }
  #home {
    background-image: none;
  }
}
