@font-face {
  font-family: MetaProRegular;
  src: url("./../assets/fonts/MetaPro-Font/MetaPro-Normal.otf") format("opentype");
}


.container {
  background: #f7f9fa;
  height: auto;
  width: 70%;
  margin: 5em auto;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.side-img
{
position: absolute;
margin-top: 72px;

width: 580px;
height: 960px;
left: 2px;
top: 72px;
bottom: 72px;

background: linear-gradient(0deg, rgba(51, 190, 255, 0.05), rgba(51, 190, 255, 0.05)), #4892C7;


}

.heading > h1
{
  position: absolute;
  width: 236px;
  height: 46px;
  left: 590px;

  top: 146px;
  font-weight: 500;
  
  font-size: 36;
  line-height: 46.22px;
  font-style: normal;
  font-family: "MetaProRegular";
  color: black;
  
  
}

.content > p
{
position: absolute;
width: 572px;
height: 46px;
left: 590px;
top: 200px;
line-height: 23.11px;
font-family: "MetaProRegular";
font-style: normal;
font-weight: 450;
font-size: 18px;
padding: 1rem 0.8rem 0.8rem 3rem;
margin-top: 8px;
color: #1F2430;


}

#Username
{
  position: absolute;
width: 267.67px;
height: 24px;
left: 632px;
top: 278px;

font-family: "MetaProRegular";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;



color: #1F2430;
}

.field1
{
  position: absolute;
width: 569.23px;
height: 56px;
left: 632px;
top: 313px;
border: 1px solid rgba(31, 36, 48, 0.6);
border-radius: 5px;
}

.field1 > placeholder 
{
  position: absolute;
  width: 250px;
  height: 24px;
  left: 746px;
  top: 329px;
  
  font-family: "MetaPro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #1f2430;
  
  color: rgba(31, 36, 48, 0.6);
}


#Password
{
  position: absolute;
width: 76px;
height: 72px;
left: 632px;
top: 393px;

font-family: MetaProRegular;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #1F2430;
}


.field2
{
  position: absolute;
  width: 569.23px;
  height: 56px;
  left: 632px;
  top: 425px;
  
  border: 1px solid rgba(31, 36, 48, 0.3);
  border-radius: 5px; 
}


.field2 >:placeholder
{
  position: absolute;
width: 132px;
height: 24px;
left: 745.46px;
top: 441px;

font-family: Meta Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: rgba(31, 36, 48, 0.3);
}


.btn
{
  position: absolute;
  width: 569px;
  height: 63px;
  left: 632px;
  top: 560px;
  
  background: #4892C7;
  box-shadow: 0px 4px 10px rgba(72, 146, 199, 0.1);
  border-radius: 5px;

  font-family: "MetaPro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

.row > label
{
  position: absolute;
  width: 220px;
  height: 21px;
  left: 835px;
  top: 650px;
  
  text-align: center;
  font-family: Meta Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  
  text-align: center;
  
  color: rgba(31, 36, 48, 0.6);
  
}

 @media screen and (max-width:584px) {
     .container
     {
       max-width: 100%;
     }
 }