.container {
    background: #F7F9FA;
    height: auto;
    width: 70%;
    margin: 5em auto;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

label {
    color: #24B9B6;
    font-size: 1.2em;
    font-weight: 400;
}

h1 {
    color: #24B9B6;
    padding-top: .5em;
}

.error {
    color: red;
}

.error-message {
    color: #FF6565;
    padding: .5em .2em;
    height: 1em;
    position: absolute;
    font-size: .8em;
}

.field {
    border: 1px solid #1C6EA4;
    width: 100%;
    height: 2em;
}

.button-group {
    width: 100%;
}

.register-form {
width: 80%;
text-align: left;
padding-top: 2em;
padding-bottom: 2em;
}

/* Terms & Privacy Policy Modal styles */
.terms-and-privacy-modal a{
    text-decoration: none;
}

.terms-and-privacy-modal ul{
    padding-left: 20px;
}
