@font-face {
  font-family: MetaProBold;
  src: url("./assets/fonts/MetaPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: MetaProRegular;
  src: url("./assets/fonts/MetaPro-Normal.otf") format("opentype");
}
.topnav{
  display: flex;
  height:auto;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 0px 10px;

}
.nav-items{
  display: flex;
  height: 72px;
  float: right;
  justify-content: center;
  padding: 0px 20px;
  flex-flow: row;
}

li {
  font-family: MetaProBold;
  list-style: none;
  align-items: center;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 26px;
  text-align: center;
  white-space: nowrap;
}
.li{
  text-decoration: none;
}
.li_signIn{
  color: blue;
}
 
 li:hover {
   text-decoration: underline  blue;
 }
 
 .active {
   Width: 170px;
   Height: 72px;
   background: #4892C7;
   margin:0;
   color: white;
 }
